@import "tailwindcss";

:root {
  --color1: #155dfc;
  --color2: #e5f0ff;
  --color3: #e4effe;

}

.btn {
  @apply px-4 py-2 rounded-md font-medium  transition-colors text-sm ;
}
.btn-primary {
  @apply bg-blue-600 text-white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
