@import "tailwindcss";

:root {
  --color1: #155dfc;
  --color2: #e5f0ff;
  --color3: #e4effe;
}
.title {
  @apply font-bold text-lg text-blue-600;
}
.text {
  @apply text-sm font-medium;
}
.btn {
  @apply px-4 py-2 rounded-md font-medium  transition-colors text-sm max-w-fit flex gap-2;
}
.btn-primary {
  @apply bg-blue-600 text-white;
}
.input {
  @apply w-full rounded-md border border-slate-200 bg-white px-3 py-2 shadow-sm outline-none placeholder:text-slate-400 focus-visible:ring-2 focus-visible:ring-blue-300  focus-visible:ring-offset-white focus-visible:border-slate-300 focus-visible:outline-none h-10 text-sm;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
